// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// Define font colors for logo

$choons-blue: #F1ABB9;
$choons-yellow: #ffb703;
$choons-green: #419b63;

// backup of font colors
// $choons-blue: #36abe1;
// $choons-yellow: #e17a04;
// $choons-green: #419b63;

// Define font sizes


@media (min-width: 480px) {
  $text-size: 14px;
}

$base-font-size: 14px;

p {
  font-size: $base-font-size;
}

.small-text {
  font-size: 12px;
}

.bold-text {
  font-weight: bold;
}
