<div class="footer">
  <div class="icon-and-text">
    <i class="bi bi-house text-white" style="font-size: 27px;"></i>
    <p>Home</p>
  </div>
  <div class="icon-and-text">
    <i class="bi bi-search text-white" style="font-size: 27px;"></i>
    <p>Search</p>
  </div>
  <div class="icon-and-text">
    <i class="bi bi-music-note-list text-white" style="font-size: 27px;"></i>
    <p>Library</p>
  </div>
  <div class="icon-and-text">
    <%= cl_image_tag(current_user.photo.key, class: "avatar-27px") %>
    <p>Profile</p>
  </div>
</div>
