<div class="main-content" data-controller="search-song">
  <form>
    <input type="text"
      class="form-control"
      style= "background: white"
      placeholder="Enter track details"
      data-action="keyup->search-song#search"
      data-search-song-target="input">
  </form>
</div>
