<div class="main-content" data-controller="bob">
  <form>
    <input type="text"
      class="form-control"
      style= "background: white"
      placeholder="Enter track details"
      data-action="keyup->bob#search"
      data-bob-target="input">
  </form>
</div>
