<div class="container" style="width: 25%; margin: 40px auto">
  <div class = "d-flex justify-content-between mb-4">
    <button class = "feedscope-round-btn" id = "following-btn"> Following </button>
    <button class = "feedscope-round-btn" id = "circles-btn"> Circles </button>
    <button class = "feedscope-round-btn" id = "chats-btn"> Chats </button>
  </div>

  <div>

  </div>













  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0PGIuagZEKjb3PMTnS0tGZ?utm_source=generator&theme=0" width="100%" height="382" frameBorder="1" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  <div style="height: 40px"> </div>
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4QreGo9Ivksjv4c3Bnk5f3?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  <div style="height: 40px"> </div>
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0WhWz82kaHo2ulbhuHTth8?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>
