.footer {
  width: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  height: 55px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.icon-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
