.navbar-home {
  width: 100%;
  height: 40px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.navbar-icons {
  display: flex;
  justify-content: space-between;
}

.choons-logo-letter {
  font-size: 2.1em;
  font-weight: bold
}


















// .navbar-lewagon {
//   justify-content: space-between;
//   background-color: transparent
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

// .nav-link {
//   color: white;

//   &:hover {
//     color: rgb(47, 0, 236);
//   }
// }

//   .choons-container {
//     font-size: 0;
//   }

//   .choons-letter {
//     display: inline-block;
//     font-size: 1.2em;
//     font-weight: bold;
//   }

//   .no-spacing {
//     margin-right: 0;
//   }
